.republic{
    background-color: white;
}
.repTitle{
    font-weight: 700;
    font-size: 1.7em;
    color: #5347C5;
}
.find{
    background-color: #e4e4fe;
    display: flex;
    margin-left: 10vh;
    margin-top: 3vh;
    width: 90vw;
    height: 20vh;
}
.theme{
    display: flex;
    flex-direction: column;
}
.category{
    font-size: 0.8em;

}