.republic{
    background-color: white;
}
.repTitle{
    font-weight: 700;
    font-size: 1.7em;
    color: #000036;
}
.find{
    background-color: #e4e4fe;
    display: flex;
    margin-left: 10vh;
    margin-top: 3vh;
    width: 90vw;
    height: 16vh;
    align-items: center;
}
.theme{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.category{
    margin-top: 2vh;
    margin-left: 2vw;
    font-weight: 700;
    font-size: 0.8em;
}
.labelRep{
    margin-left: 2vw;
    width: 19vw;
    height: 5vh;
    display: flex;
    padding-left: 2vw;
    padding-top: 1vh;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    outline-style: auto;
    outline-color: black;
    margin-top: 1vh;
    color: gray;
}
.selects{
    display: flex;
    width: 60vw;
    gap: 2vw;
    margin-left: 2vw;
}
.buttonSearch{
    margin-left: 19vw;
    background-color: blue;
    color: white;
    height: 4vh;
    width: 8vw;
    font-weight: 700;
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
}
.news{
    display: flex;
    margin-top: 2vh;
    margin-left: 6vw;
    gap: 3vw;
    flex-wrap: wrap;
}
.new{
    display: flex;
    flex-direction: column;
}
.picRep{
    background-color: red;
    width: 27vw;
    height: 30vh;
    display: flex;
    align-items: start;
    justify-content: flex-end;
    flex-direction: column;
}
.desc{
    margin-left: 0vw;
    background-color: #e4e4fe;
    width: 15vw;
    height: 6vh;
    justify-content: center;
    display: flex;
    color: #000036;
    font-weight: 700;
    align-items: center;
}
.titleNews{
    color: #000036;
    width: 27vw;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: justify;    
}