.toplist{
    background-color: white;
    width: 100%;
    height: 40vh;
    display: flex;
}
.description{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 3vw;
    margin-top: 10vh;
}
.titleToplist{
    color: #000036;
    font-size: 1.5em;
    font-weight: 700;
}
.text{
    color: black;
    text-align: justify;
    margin-top: 2vh;
}
.picture{
    background-color: red;
    width: 23vw;
    height: 30vh;
    margin-left: 2vw;
    margin-top: 10vh;
}
.topics{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.titleTopics{
    color: #000036;
    font-size: 1.2em;
    font-weight: 700;
    margin-left: 2vw;
    margin-top: 4vh;
}
.list{
    width: 48.5vw;
    height: 28vh;
    margin-left: 2vw;
    margin-top: 4vh;
}