.usBanner{
    background-color: white;
    height: 55vh;
    display: flex;
    
}
.titleUs{
    margin-top: 6vh;
    font-size: 1.5em;
    font-weight: 700;
    align-items: start;
    margin-left: 10vw;
    }
.us{
    margin-left: 0vw;
    display: flex;
    align-items: center;
    margin-left: -15vw;
}
.picUs{
    /* margin-left: 20vw; */
    margin-top: 2vh;
    width: 20vw;
    height: 30vh;
}
.descUs{
    font-size: 1.3em;
    margin-left: 2vw;
    font-weight: 600;
    width: 55vw;
    text-align: justify;
}